*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
}
header{
    display: flex;
    width: 100vw;
    height: 33vh;
}
#header-brand{
    display: flex;
    width: 42vw;
    margin-top: 3.5rem;
    margin-left: 2.5rem;
    margin-right: 1rem;
}
#header-brand-init{
    font-family: 'Roboto', sans-serif;    font-style: normal;
    font-size: 32px;
    line-height: 42px;

    color: #3E6D9B;
}
#header-brand-end{
    font-family: 'Roboto', sans-serif;    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;

    color: black;
}
/*
    @media (max-width: 1024px) {
        h1{
            color: blue;
        }
    }
    @media (max-width: 768px) {
        h1{
            color: yellow;
        }
    }
    @media (max-width: 425px) {
        h1{
            color: green;
        }
    }
    @media (max-width: 320px) {
        h1{
            color: gray;
        }
    }
*/
#header-circle{
    display: flex;
    justify-content: end;
    align-items: flex-start;

    z-index: 0;
}
#header-hamb{

    z-index: 0;
}
main{
    width: 100vw;
    height: 600vh;
}
#sec-one{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: none;
}
#main-top{
    display: flex;
    width: 100vw;
}
#main-circle{
    width: 20vw;
    height: 30vh;
    margin-right: 1rem;
}
#main-circle-img{

}
#main-text-box{
    display: block;
    width: 50vw;
    height: 30vh;
    justify-content: center;
    margin-top: 1rem;
    margin-right: 3rem;
}
#main-text{
    width: 50vw;
    font-family: 'Roboto', sans-serif;    font-style: normal;
    font-size: 32px;
    line-height: 42px;

    color: black;
}
.bolder-text{
    font-weight: bolder;
}
#main-subtext-box{
    display: block;
    width: 80vw;
    height: 30vh;
    margin: 0 2rem 0 2rem;
    justify-content: center;
    align-items: flex-end;
}
#main-subtext-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 35px;
    color: #495450;
}
#sec-two{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: none;
}
#gs-bt-box{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100vw;

}
#gs-bt{
    background: #2B6FDE;
    font-size: larger;
}
.button{
    width: 11rem;
    height: 4rem;
    color: white;
    border-radius: 45px;

    box-shadow: 0 5px 5px rgba(0,0,0,0.25);    border-bottom: none;  
}
#main-middle-text-box{
    display: block;
    width: 80vw;
    height: 25vh;
    margin: 5rem 2rem 5rem 2rem;
    justify-content: center;
    align-items: flex-end;
}
#main-middle-text{
    width: 80vw;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: black;
}
#main-circle-light{

}
#main-circle-light-img{
    position: absolute;
    left: 0;
    top: 53rem;

    z-index: -1;
}
#sec-three{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: none;
}
.card-box{
    display: flex;

    margin-top: 0rem;
    margin-bottom: 5rem;
    width: 100vw;
    height: 30vh;
    justify-content: center;
}
.card{
    width: 88vw;
    height: 33vh;
    color: silver;
    background-color: white;
    border-radius: 45px;

    box-shadow: 0 5px 5px rgba(0,0,0,0.25);    border-bottom: none;
}
*.card-text-title{
    margin: 2.5rem 1rem .90rem 1rem;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #495450;

}
.card-text{
    margin: 0rem 1rem 2rem 1rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #495450;
}
#sec-four{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 150vh;
}
#lm-bt-box{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100vw;
    margin-top: 3rem;
}
#lm-bt{
    background: #2B6FDE;
    font-size: larger;
}
#main-bottom-text-box{
    width: 100vw;
    margin: 5rem 2rem 0 2rem;
}
#main-bottom-text{
    width: 80vw;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
}
.main-bottom-numbers{
    font-family: 'Roboto', sans-serif;    font-style: normal;
    font-size: 32px;
    line-height: 42px;
    font-weight: bolder;
    text-align: center;

    color: #3E6D9B;
}
#main-bottom-text-minor-box{
    width: 80vw;
    height: 25vh;
    margin: 7rem 2rem 5rem 2rem;
    justify-content: center;
    align-items: flex-end;
}
#main-bottom-text-minor{
    width: 80vw;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 42px;
    text-align: center;
}
.space{
    display: block;
    margin: 3rem 0 3rem 0;
}
#sec-five{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: none;
}
#text-pre-img-card-box{
    display: block;
    width: 80vw;
    height: 25vh;
    margin: 5rem 2rem 5rem 2rem;
    justify-content: center;
    align-items: flex-end;
}
#text-pre-img-card{
    width: 80vw;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: black;
}
.card-with-img-box{
    display: flex;
    width: 100vw;
    margin-bottom: 8rem;
    justify-content: center;
}
.card-with-img{
    display: flex;
    width: 90vw;
    height: 85vh;
    flex-direction: column;
    justify-content: start;
    color: silver;
    background-color: white;
    border-radius: 45px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);    border-bottom: none;
}
.card-with-img-fig{
    position: relative;
    left: -4px;
    top: -2px;
    width: 92vw;
}
*.card-with-img-text-title{
    margin: 1.5rem 1rem .90rem 1rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    color: #495450;
}
.card-with-img-text{
    margin: 0rem 1rem 2rem 1rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #495450;
}
.card-with-img-link{
    margin: 0rem 1rem 1rem 15rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #1592E6;
    text-decoration: none;
}
#main-circle-dark{

}
#main-circle-dark-img{
    position: absolute;
    width: 98vw;
    top: 224rem;

    z-index: -1;
}


